[submodule "lib/KeepMeAlive"]
	path = lib/KeepMeAlive
	url = https://github.com/Locoduino/KeepMeAlive.git
[submodule "lib/InputDebounce"]
	path = lib/InputDebounce
	url = https://github.com/Mokolea/InputDebounce.git
[submodule "lib/Adafruit-MAX31855"]
	path = lib/Adafruit-MAX31855
	url = https://github.com/adafruit/Adafruit-MAX31855-library
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "lib/BasicLinearAlgebra"]
	path = lib/BasicLinearAlgebra
	url = https://github.com/tomstewart89/BasicLinearAlgebra.git
[submodule "lib/LiquidCrystal_I2C"]
	path = lib/LiquidCrystal_I2C
	url = https://github.com/maciejewiczow/LiquidCrystal_I2C.git
